.galleryHeading{
    width: 220px;
height: 85px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 85px;
display: inline-block;
margin-top: 60px;
}


.galleryContainer{
    width: 1516px;
height: 857px;
display: inline-block;

background: #2A2626;
}
.galleryImage{
    display: inline-flex;
    width: 215.82px;
height: 184.1px;
margin: 40px;
}
.galleryImage1{
    
    width: 215.82px;
height: 184.1px;

}
.allImages{
    width: 1212px;
height: 550px;
display: inline-block;
overflow-y: scroll;
margin-top: 60px;
}